.store {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  margin: 0 0 var(--space-m) 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    margin: 0;
    padding: var(--space-xxs) var(--space-s);
    // border: 1px solid var();
    border-radius: var(--space-xxs);
  }

  &__title {
    margin: 0 var(--space-xs) 0 0;
    padding: 0;
  }

  &__location {
    display: block;
    margin: 0 0 var(--space-m) 0;
    padding: 0;
    color: var(--color-dark-gray);
  }

  #app:not(.theme-dark) &__wrapper {
    box-shadow: 0 6px 24px -12px rgba(0, 0, 0, 0.16);
  }

  #app.theme-dark & {
    &__wrapper {
      background-color: var(--color-gray-600);
      color: var(--color-white);
    }

    &__location {
      color: var(--color-red-600);
    }
  }
}
