:root {
  // Base colors
  --color-black: #000;
  --color-gray: #ccc;
  --color-dark-gray: #666;
  --color-white: #fff;
  --color-peter-river: #3498db;
  --color-trans-blue: #3498db1c;

  // Style Guide colors
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
  --color-highlight: var(--color-peter-river);

  // Dark Mode colors
  --color-gray-800: #252525;
  --color-red-600: #ff0000;
  --color-red-800: #af0404;
  --color-gray-600: #414141;
}
