.store-list {
    &__search-input {
        appearance: none;
        font-size: 1.2rem;
        width: 100%;
        max-width: 380px;
        box-sizing: border-box;
        padding: var(--space-s);
        border-radius: var(--space-xs);
        border: solid 2px var(--color-gray);
        box-shadow: var(--shadow-lg);
        
        &:focus {
            outline: none;
            border: solid 2px var(--color-peter-river);
        }
    }

    &__grid {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: var(--space-m);
    }

    @media screen and (max-width: 600px) {
        &__grid {
            display: grid;
            max-width: 100%;
            gap: var(--space-m);
            grid-template-columns: minmax(200px, 1fr);
        }
    }
}
